{{#each this}}
    <div class="post--item col col-xs-12 col-md-4">
        <div class="post--featured-img">
            <img src="{{photo}}" alt="" width="410px" height="203px">
        </div>
        <div class="post--creation-deets">
            <p class="date">{{publishedDate}}</p>
            <p class="author">{{authorName}}</p>
        </div>
        <div class="post--title">
            <h4>{{title}}</h4>
        </div>
        <p class="post--excerpt">{{excerpt}}</p>
        <div class="link">
            <a href="https://google.com" class="read-more">Read More</a>
        </div>
    </div>
{{/each}}
